.pagesListBlock {
    padding: 10px;
    padding-left: 20px;
    font-weight: 300;
    /*letter-spacing: 5px;*/
    align-items: center;
    justify-content: center
}
.selectedPage {
    font-weight: 700;
}

.pageNumber {

}